/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 350px;
}

h1 {
    color: #3C763D; /* Green Heading */
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.options-group {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options-group label {
    color: #666;
}

a {
    text-decoration: none;
    color: #3C763D; /* Green link */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3C763D; /* Green Button */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2e5a2d;
}

.login-container form {
    border: 1px solid #ddd; /* Light grey border for form */
    padding: 20px;
    border-radius: 8px;
}

